body {
  background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
}
form {
  display: flex;
  width: 100%;
  justify-content: center;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: 60px;
}
button {
  background-color: #f69d3c;
  border: none;
  width: 40px;
  border-radius: 5px;
}
.todo-form {
  position: relative;
  box-shadow: 2px 14px 2px 14px #f69d3c;
}
.todo-button {
  position: absolute;
  left: 660px;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  top: 170px;
  font-size: 25px;
  color: white;
}
button:hover {
  background-color: #ebf8e1;
  color: #f69d3c !important;
}
input {
  border: none;
  border-radius: 5px;
  width: 330px;
  height: 50px;
}
select {
  border: none;
  border-radius: 5px;
  width: 130px;
  height: 50px;
  margin-left: 50px;
  background-color: #f69d3c;
  color: white;
}
.todo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  text-align: center;
  line-height: 30px;
}
.trash-btn,
.check-btn {
  margin-left: 3px;
  color: white !important ;
  font-weight: bolder;
  font-size: 25px;
}
ul li {
  text-decoration: none;
  list-style: none;
  border-radius: 5px;
  width: 330px;
  height: 50px;
  background-color: white;
  color: #3f87a6;
  font-size: 20px;
  font-family: cursive;
  line-height: 30px;
}
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.tick {
  position: relative;
}

.tick::before {
  content: "";
  position: absolute;
  top: 35%;
  left: 50%;
  right: 0;
  height: 2px; /* Adjust the height to control the length */
  background-color: black; /* Line color */
  transform: translate(-50%, -50%);
  width: 75%;
}
